<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUIT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style_game.css">
</head>
<body>

    <nav>
        <div class="back">
            <h1><a href="#"> < </a></h1>
        </div>
        <div class="game-title">
            <h2>ROCK PAPER SCISSOR</h2>
        </div>    
    </nav>

    <main>
        <div class="container">
            <div class="row player">
                <div class="col-lg">
                    <H3 style="text-align: center; font-weight: bold;"> PLAYER 1</H3>
                </div>
                <div class="col-lg">
                    <H3 style="text-align: center; font-weight: bold;">COM</H3>
                </div>
                
            </div>
            <div class="row rock">
                <div class="col-lg pick-hand">
                    <img id="rock" src="Assets/Rock.png" alt="rock">   
                </div>
                <div class="col-lg pick-hand">
                    <img src="Assets/Rock.png" alt="rockCom">
                </div>
            </div>
            <div class="row paper">
                <div class="col-lg pick-hand">
                    <img id="paper" src="Assets/kertas.png" alt="paper">   
                </div>
                <div id="result" class="col-lg vs">
                    <h1>VS</h1>
                </div>
                <div class="col-lg pick-hand">
                    <img src="Assets/kertas.png" alt="paperCom">
                </div>
                
            </div>
            <div class="row scissor">
                <div class="col-lg pick-hand">
                    <img id="scissor" src="Assets/gunting.png" alt="scissor">   
                </div>
                <div class="col-lg pick-hand">
                    <img src="Assets/gunting.png" alt="scissorCom">
                </div>
                
            </div>
            <div class="row refresh" >
                <div class="col-lg py-5">
                    <img src="Assets/refresh.png" alt="refresh">
                </div>
            </div>
        </div>   
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        class RPS{
      
          constructor(){
      
          }
      
          playerPick(opt){
            this.playerHand = this.handOpt[opt]
          }
      
          cpuPick(){
            this.cpuHand = this.handOpt[Math.floor(Math.random() * 3)]
          }
      
          beginGame(){
            this.cpuPick()
            return this.getResult(this.playerHand, this.cpuHand)
          }
      
          getResult(hand, cpuHand){
            let result = ''
            if(hand == cpuHand){
              result = 'draw';
            }
            else if(hand == 'scissor' && cpuHand == 'scissor'){
              result = 'draw';
            }
            else if(hand == 'paper' && cpuHand == 'paper'){
              result = 'draw';
            }
            else if(hand == 'rock' && cpuHand == 'scissor'){
              result = 'Player 1 Won';
            }
            else if(hand == 'scissor' && cpuHand == 'paper'){
              result = 'Player 1 Won';
            }
            else if(hand == 'paper' && cpuHand == 'rock'){
              result = 'Player 1 Won';
            }
            else if(hand == 'scissor' && cpuHand == 'rock'){
              result = 'CPU Won';
            }
            else if(hand == 'paper' && cpuHand == 'scissor'){
              result = 'CPU Won';
            }
            else if(hand == 'rock' && cpuHand == 'paper'){
              result = 'CPU Won';
            }
            return result
          }
      
          handOpt = ['scissor', 'paper', 'rock']
          playerHand = null
          cpuHand = null
        }
      
        let game = new RPS();
      
        document.getElementById("rock").addEventListener("click", () => {
          game.playerPick(2)
          let resultElement = document.getElementById("result")
          resultElement.innerHTML = game.beginGame()
          resultElement.classList.add("show-result");
      
        });
        document.getElementById("paper").addEventListener("click", () => {
          game.playerPick(1)
          let resultElement = document.getElementById("result")
          resultElement.innerHTML = game.beginGame()
          resultElement.classList.add("show-result");
        });
        document.getElementById("scissor").addEventListener("click", () => {
          game.playerPick(0)
          let resultElement = document.getElementById("result")
          resultElement.innerHTML = game.beginGame()
          resultElement.classList.add("show-result");
        });
        </script>
</body>
</html>