<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TRADITIONAL GAME</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">LOGO</a>
      

        <div class="menu-left list-inline">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">CONTACT</a>
            </li>
        </div>
      
        <div class="menu-right">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">SIGN UP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LOGIN</a>
            </li>
          </div>
        </div>
    </nav>
  </header>


  <main>
    <section class="game-title">
      <div class="row">
        <div class="col">
          <h1 class="text-center">PLAY TRADITIONAL GAME</h1>
          <h3 class="text-center">EXPERIENCE NEW TRADITION GAME PLAY</h3>
          <div class="tombol-play">
            <button href="../Chll.3/Game.html" button type="button" class="btn btn-warning text-center">PLAY NOW</button>
          </div>
          <div class="story">
            <ul>
              <li>
                <a href="#">The Story</a>
              </li>
              <li>
                <a href="#">
                  <img src="Assets/arrow.svg" alt="arrow" style="transform: scale(0.595) rotate(-90deg);">
                </a>
              </li>
            </ul>
          </div> 
        </div>
      </div>
    </section>
  
    <section class="Special">
      <div class="container">
        <div class="the-game row">
          <div class="col-4">
            <h3>What`s so special?</h3>
            <h1>THE GAMES</h1> 
          </div>
          <div class=" gallery col-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="Assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaper">
                </div>
                <div class="carousel-item">
                  <img src="Assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaper">
                </div>
                <div class="carousel-item">
                  <img src="Assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaper">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
        
    </section>

    <section class="Features">
      <div class="container-fluid">
        <div class="row justify-content-end features-title">
          <div class="col-4 features-info mb-2">
            <h3>What's so special?</h3>
            <h1>FEATURES</h1>
          </div>
        </div>

        <div class="row justify-content-end features-progress">
          <div class="col-5 feature-progress-content">
            <div class="row timeline">
              <div class="col-2 pt-2 mt-1 timeline-dot">
                <img src="Assets/arrow.svg" alt="ar" style="transform: scale(0.595) rotate(180deg)">
              </div>
              <div class="col timeline-desc">
                <h2>TRADITIONAL GAME</h2>
                <p>if you miss your childhood, we provide many traditional games here</p>
              </div>
            </div>

            <div class="row timeline">
              <div class="col-2 pt-2 mt-1 timeline-dot">
                <img src="Assets/arrow.svg" alt="ar" style="transform: scale(0.595) rotate(180deg)">
              </div>
              <div class="col timeline-desc">
                <h2>GAME SUIT</h2>
              </div>
            </div>

            <div class="row timeline">
              <div class="col-2 pt-2 mt-1 timeline-dot">
                <img src="Assets/arrow.svg" alt="ar" style="transform: scale(0.595) rotate(180deg)">
              </div>
              <div class="col timeline-desc">
                <h2>TBD</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sysreq">
      <div class="container">
        <div class="judul">
          <h5 class="text-center">Can My Computer Run This Game?</h5>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h1 class="req-table-title">System Requirements</h1>
            <table class="table table-bordered table-rq-sys">
              <tbody>
                <tr>
                  <td>
                    <h2 class='req-info'>OS:</h2>
                    <p class="req-content">Windows 7 64-bit only (no  OSX support at this time)</p>
                  </td>
                  <td>
                    <h2 class='req-info'>Processor:</h2>
                    <p class="req-content">Intel Core 2 Duo @2.4GHz or AMD Athlon X2 @ 2.8GHz</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2 class='req-info'>Memory:</h2>
                    <p class="req-content">4 Gb RAM</p>
                  </td>
                  <td>
                    <h2 class='req-info'>Storage:</h2>
                    <p class="req-content">8Gb available space</p> 
                </tr>
                <tr>
                  <td colspan="2">
                    <h2 class='req-info'>Graphics:</h2>
                    <p class="req-content">NVIDIA GeForce GTX 660 2 Gb or AMD Radeon HD 7850 2Gb DirectX11 (Shader Model S)</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section class="top-scores">
      <div class="container row">
        <div class=" col-lg-5 col-md-7 offste-md-2 offset-sm-1 align-center score-left-side">
          <h1>TOP SCORES</h1>
          <h2>This top score from various games provide on this platform</h2>
          <a href="#" class="btn btn-warning">See More</a>
        </div>
        <div class="col">
          <div class="row">
            <div class=" col-lg-9 col-md-7 offset-lg-6 offset-md-2 offset-sm-1 twitcard">
              <div class="card text-white bg-dark">
                <div class="card-header row">
                  <img src="Assets/profile-1.png" class="img-fluid float-left profilepic col-3 card-costum rounded-circle" alt="evan lathi">
                  <div class="col-6">
                    <h3 class="card-name">Evan Lahti</h3>
                    <h4 class="card-job">PC Gamer</h4>
                  </div>
                  <img src="Assets/twitter.svg" class="img-fluid float-right col-2" alt="twitter">
                </div>
                <div class="card-body">
                  <h5 class="card-title"> "One of my gaming highlights of the year."</h5>
                  <p class="card-text"> October 18, 2018</p>
                </div>
              </div>
            </div>
            <div class=" col-lg-9 col-md-7 offset-lg-6 offset-md-2 offset-sm-1 twitcard-1">
              <div class="card text-white bg-dark">
                <div class="card-header row">
                  <img src="Assets/profile-2.png" class="img-fluid float-left profilepic col-3 card-costum rounded-circle" alt="evan lathi">
                  <div class="col-6">
                    <h3 class="card-name">Jada Griffin</h3>
                    <h4 class="card-job">Nerdreactor</h4>
                  </div>
                  <img src="Assets/twitter.svg" class="img-fluid float-right col-2" alt="twitter">
                </div>
                <div class="card-body">
                  <h5 class="card-title"> "The next big thing in the world of streaming and survival games."</h5>
                  <p class="card-text"> December 21, 2018</p>
                </div>
              </div>
            </div>
            <div class=" col-lg-9 col-md-7 offset-lg-6 offset-md-2 offset-sm-1 twitcard-2">
              <div class="card text-white bg-dark">
                <div class="card-header row">
                  <img src="Assets/profile-3.png" class="img-fluid float-left profilepic col-3 card-costum rounded-circle" alt="evan lathi">
                  <div class="col-6">
                    <h3 class="card-name">Aaron Williams</h3>
                    <h4 class="card-job">Uproxx</h4>
                  </div>
                  <img src="Assets/twitter.svg" class="img-fluid float-right col-2" alt="twitter">
                </div>
                <div class="card-body">
                  <h5 class="card-title"> "Snoop Dogg playing the wildly entertaining 'SOS' is ridiculous."</h5>
                  <p class="card-text"> December 24, 2018</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="Newsletter">
      <div class="container">
        <div class="row">
          <div class="col-xl">
            <figure>
              <img src="Assets/stone.png" alt="patung">
            </figure>
          </div>
          <div class="col-xl">
            <div class="footer-content-right">
              <h3>Want to stay in touch?</h3>
              <h1>Newsletter Subscribe</h1>
              <p>incase to start receiving our news, all you have todo is enter your email address. Everything else will be taken care of you. We will send you emails containing information about game. We don`t spam. </p>
            </div>
            <div class="footer-content-left">
              <form class="form row">
                <div class="form-group col-md-7">
                  <label class="sr-only" for="email">your email address</label>
                  <input type="text" class="form-control mb-2 mr-sm-2 pt-3 bg-dark" id="email" placeholder="youremail@binar.co.id">
                </div>
                <div class="col-md-5 text-left mt-4">
                  <button class="btn btn-warning mb-3 w-100">Subscribe Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="row py-2 footer-menu">
        <ul class="nav justify-content-end">
          <li class="nav-item px-2">
            <a class="nav-link active" aria-current="page" href="#">MAIN</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="Special">ABOUT</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="Features">GAME FEATURES</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="sysreq">SYSTEM REQUIREMENTS</a>
          </li>
            <li class="nav-item px-2">
              <a class="nav-link active" aria-current="page" href="index.html/top-scores">QUOTES</a>
            </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#"><img src="Assets/facebook.svg" alt="facebook"></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#"><img src="Assets/twitch.svg" alt="twitch"></a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#"><img src="Assets/twitter.svg" alt="twitter"></a>
          </li>  
        </ul>
      </div>
      <hr style="width: 70%; text-align: center; color: white; margin-left: 10%;">
      <div class="copyright">
        <div class="justify-content-left">
          <p>@2018 Your Games, inc. All Right Reserved</p>
        </div>
        <div class="Policy">
          <a href="#">
            Privacy Policy I
          </a>
          <a href="#">
            Terms of Services I
          </a>
          <a href="#">
            Code of Conduct
          </a>
        </div>
      </div>
      
      
      </div>
    </section>

    
      
    </div>
  </main>
  
    

    

    
   



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>
</html>